.header{font-style: Bold;
    text-align-last: center;
    margin:auto;
    /* width: 50%; */
    border: 3px solid rgb(228, 63, 34);
    padding: 10px;
    background-color:black;
}

h1{color:wheat
}

.container{
    display:flex;
    background-color: gray;
}
.box {
    width: 30%;
    border: 3px solid rgb(8, 8, 8);
    margin-left: 10%;
    margin-right: 10%;
}